{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
   <div class="ui huge header">Contact Details</div>
</section>

<center>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2442.8469864169747!2d-7.142436284202713!3d52.24616287976323!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4842c41310dd4131%3A0x4042f0dcf13f7cfe!2sWaterford+Institute+of+Technology!5e0!3m2!1sen!2sie!4v1488195151673" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</center>

<div class="ui segment">  
  <div class="ui list">
  <div class="item">
    <i class="users icon"></i>
    <div class="content">
      Marcel Kowalik
    </div>
  </div>
  <div class="item">
    <i class="marker icon"></i>
    <div class="content">
      Main Campus Cork Road, Waterford City, Ireland  
    </div>
  </div>
  <div class="item">
    <i class="mail icon"></i>
    <div class="content">
      <a href="mailto:Marcelus98@poczta.fm">Marcelus98@poczta.fm</a>
    </div>
  </div>
  <div class="item">
    <i class="facebook icon"></i>
    <div class="content">
      <a href="https://www.facebook.com/waterfordit/?fref=ts">Facebook</a>
    </div>
  </div>
</div>



