{{> welcomemenu}}

<section class="ui center aligned middle aligned segment">
  <h1 class="ui header">
    Welcome to Bookmark Maker!
  </h1>
  <p>
    A small app to let you compose bookmark lists for multiple websites.
  </p>
<img class="ui centered image" src="https://cdn.gomix.com/720b990e-b184-48da-9ba6-7ffb7a880c91%2FScreen-Shot-2015-06-25-at-1.30.19-PM-e1435264384777.png">
<div class="ui message">
  <p>This Web App allows you to create multiple Bookmark Lists with many different websites in them. Each Website can be saved with a unique title, Summary clickable link to that website.</p>
</div>
</section>
